.main-heading {
    color: #7D1D3F;
}

.secondary-heading {
    color: black;
}

.special-heading {
    color: #21A179;
}



body {
    background: #D7D9B1;
}

nav a {
    color : #827191;
}

a {
    color: orange;
}

